# Env secrets
.env*
.env.local

# Node
node_modules/
.next/
dist/
build/

# Python
__pycache__/
venv/
*.pyc
.pytest_cache/

# Grafana
data/
grafana.db
plugins/
public/
grafana.ini  # Si sensible

# OS
.DS_Store
Thumbs.db